{% load static %}

<!-- Header -->

<div class="top-bar top-bar-dark" style="color: #fff;">
	<div class="container">
		<div class="top-bar-contact">
			<div class="contact-item">
				<a href="#" style="padding-left: 10px; color:#fff">Contact@teampromotions.in</a>
			</div>

			<div class="contact-item">
				<span style="padding-right: 10px; color:#fff">Mon - Fri : </span> 09:00 - 17:00
			</div>
		</div>


		<div class="follow_us">
			<span style="color:#fff">Follow us:</span>
			<div class="socials">

				<a href="https://www.facebook.com/profile.php?id=100093537010185&mibextid=ZbWKwL" class="social__item">
					<img loading="lazy" src="{% static 'svg/circle-facebook.svg' %}" alt="facebook">
				</a>

				<a href="" class="social__item">
					<img loading="lazy" src="{% static 'svg/twitter.svg' %}" alt="twitter">
				</a>

				<a href="https://www.instagram.com/teampromotions_ltd/" class="social__item">
					<img loading="lazy" src="{% static 'svg/instagram.svg' %}" alt="instagram">
				</a>

				<a href="https://www.linkedin.com/company/team-promotions-private-limited/" class="social__item">
					<img loading="lazy" src="{% static 'svg/linkedin.svg' %}" alt="linkedin">
				</a>

			</div>
		</div>

		<a href="#" class="top-bar-close" id="top-bar-close-js">
			<span></span>
			<span></span>
		</a>

	</div>
</div>

<header class="header" id="site-header">
	<a href="#" id="top-bar-js" class="top-bar-link">
		<i class="seosight-icon seoicon-arrow-to-bottom"></i>
	</a>

	<div class="container">

		<div class="header-content-wrapper">

			<div class="logo">
				<a href="https://teampromotions.vercel.app/index.html" class="full-block-link"></a>
				<img loading="lazy" style="width: 320px;" src="{% static 'img/hi-res-logo.png' %}" alt="Team-promotions-logo">
				
			</div>

			<nav id="primary-menu" class="primary-menu">

				<a href='javascript:void(0)' id="menu-icon-trigger" class="menu-icon-trigger showhide">
					<span class="mob-menu--title">Menu</span>
					<span id="menu-icon-wrapper" class="menu-icon-wrapper" style="visibility: hidden">
                            <svg width="1000px" height="1000px">
                                <path id="pathD" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
                                <path id="pathE" d="M 300 500 L 700 500"></path>
                                <path id="pathF" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
                            </svg>
                        </span>
				</a>

				<!-- menu-icon-wrapper -->

					<ul class="primary-menu-menu">
					<li class="menu-item-has-children">
						<a href="https://teampromotions.vercel.app/index.html">Home</a>
					</li>


					<li class="menu-item-has-children">
						<a href="https://teampromotions.vercel.app/About-Us.html">About Us</a>
					</li>

					<li class="">
						<a href="https://teampromotions.vercel.app/03_services.html">Services</a>
						<ul class="dropdown">
							<li class="megamenu-item-info">
								<h5 class="megamenu-item-info-title">List of Services</h5>
								<p class="megamenu-item-info-text">Choose a Service</p>
							</li>
							<li class="hover-ver2">
								<a href="https://teampromotions.vercel.app/05_service_details_localseo.html">
									Sales Promotions
								</a>
							</li>
							<li class="hover-ver2">
								<a href="https://teampromotions.vercel.app/07_service_email_marketing.html">
									Loyalty Programs 
								</a>
							</li>
							<li class="hover-ver2">
								<a href="https://teampromotions.vercel.app/06_service_detail.html">
									Alliances and Partnerships
								</a>
							</li>
							<li class="menu-item-has-children hover-ver2">
								<a href="https://teampromotions.vercel.app/04_service_detail_seo.html">
									
									Contests and Sweepstakes 
								</a>
							</li>
							<li class="hover-ver2">
								<a href="https://teampromotions.vercel.app/08_service_ppc_management.html">
									Employee Rewards
								</a>
							</li>
							
							</li>
						</ul>
					</li>
					  <li class="">
						<a href="https://teampromotions.vercel.app/11_case_studies.html">Our Works</a>
						<ul class="dropdown">
							
							<li class="">
								<a href="https://teampromotions.vercel.app/12_project_details_ver_01.html">
									Parle Case Study →
								</a>
							</li>
							<li class="">
								<a href="https://teampromotions.vercel.app/13_project_details_ver_02.html">
									Marvel Case Study →
								</a>
							</li>
							<li class="">
								<a href="https://teampromotions.vercel.app/11_case_studies.html">
									View More →
								</a>
							</li>
						</ul>
					</li> 



					<li class="menu-item-has-children">
						<a href="https://teampromotions.vercel.app/09_our_clients.html">Clientele</a>
					</li>
					<li class="">
						<a href="{% url 'blog' %}">Blog</a>
					</li>

					<li class="">
						<a href="https://teampromotions.vercel.app/22_contacts.html">Contact Us</a>
					</li>
				</ul>

			</nav>

			
			<div class="user-menu open-overlay">
				<a href="#" class="user-menu-content  js-open-aside">
					<span></span>
					<span></span>
					<span></span>
				</a>
			</div>
		</div>

	</div>

</header>

<!-- ... End Header -->
