{% load static %}
<div class="mCustomScrollbar">
	<div class="popup right-menu">

		<div class="right-menu-wrap" style="padding-left: 40px;">

			<div class="user-menu-close js-close-aside">
				<a href="#" class="user-menu-content  js-clode-aside">
					<span></span>
					<span></span>
				</a>
			</div>

			 			<div class="logo">
				<a href="index.html" class="full-block-link"></a>
				<img loading="lazy" src="{% static 'img/team promotions new logo-final (1) (1).png' %}" alt="Team Promotions Pvt Ltd">
			</div>

			<p class="text">Empowering Brands. Elevating Rewards. Inspiring Innovation.</p>

		</div>

	 

	<div class="widget contacts" style="padding-left: 40px;">

			<h4 class="contacts-title">Get In Touch</h4>
			<p class="contacts-text">We are here to help and answer any question you might have. We look forward to hearing from you.</p>

	
			<div class="contacts-item">
				<img loading="lazy" src="{% static 'img/contact5.png' %}" alt="phone">
				<div class="content">
					<a href="#" class="title">Contact@teampromotions.in</a>
					<p class="sub-title">Reach us here</p>
				</div>
			</div>

			<div class="contacts-item">
				<img loading="lazy" src="{% static 'img/contact6.png' %}" alt="phone">
				<div class="content">
					<a href="#" class="title">Team Promotions Private Limited</a>
					<p class="sub-title">Unit no 1142, Tower B, ITHUM TOWER, Block A, Industrial Area, Sector 62, Noida, Uttar Pradesh 201301</p>
				</div>
			</div>

		</div>

	</div>

</div>

<!-- ... End Right-menu -->